/* .name{

}
.all{
    text-align: center;
    align-items: center;
    background-color: gray;
    display: flex;
    flex-direction: column;
} */
/* .div{
    background-color: #fff;
    height:30px;
    width: 70px;
    border-radius: 40px;
    margin: 40px;
} */


